{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}

Cart
{% endblock %}

{% block container %}
<script>
  document.addEventListener("DOMContentLoaded", function () {

    var tabela = document.body.querySelectorAll("table td:nth-child(3)");

    let total = {}
    for (var x = 0; x < tabela.length; x++) {
      var name = 'form-' + x + '-quantity'
      const el = document.body.querySelector('table td.quantity input[name=' + name + ']').value;
      total[parseInt(tabela[x].innerHTML)] = parseInt(el)

    }

    //transforma em uma lista as chaves e valores do objeto total
    lista = Object.entries(total)

    z = 0
    result = []

    for (var x = 0; x < lista.length; x++) {

      cache = []
      for (y = 0; y < lista[x].length; y++) {
        cache.unshift(lista[z][y])
      };

      //adciona ao array result a multipicação dos elementos contidos em cache
      result.unshift(cache[0] * cache[1])
      z++
    };

    var soma = 0;
    //faz a soma dos elementos contidos em result pra entregar o total do carrinho 
    for (var i = 0; i < result.length; i++) {
      soma += result[i];
    };
    document.querySelector(".products").innerHTML = tabela.length
    document.querySelector(".total").innerHTML = soma + ' R$'
  });
</script>


<div class="page-header">
  <h1>Carrinho de Compras</h1>
</div>
<br>
<div class="container">
  <div class="row">
    <section class="vh-100" style="background-color: #fdccbc;">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
            <p><span class="h2">Shopping Cart </span><span class="h4">(1 item in your cart)</span></p>
    
            <div class="card mb-4">
              <div class="card-body p-4">
    
                <div class="row align-items-center">
                  <div class="col-md-2">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/1.webp" class="img-fluid"
                      alt="Generic placeholder image">
                  </div>
                  <div class="col-md-2 d-flex justify-content-center">
                    <div>
                      <p class="small text-muted mb-4 pb-2">Name</p>
                      <p class="lead fw-normal mb-0">iPad Air</p>
                    </div>
                  </div>
                  <div class="col-md-2 d-flex justify-content-center">
                    <div>
                      <p class="small text-muted mb-4 pb-2">Color</p>
                      <p class="lead fw-normal mb-0"><i class="fas fa-circle me-2" style="color: #fdd8d2;"></i>
                        pink rose</p>
                    </div>
                  </div>
                  <div class="col-md-2 d-flex justify-content-center">
                    <div>
                      <p class="small text-muted mb-4 pb-2">Quantity</p>
                      <p class="lead fw-normal mb-0">1</p>
                    </div>
                  </div>
                  <div class="col-md-2 d-flex justify-content-center">
                    <div>
                      <p class="small text-muted mb-4 pb-2">Price</p>
                      <p class="lead fw-normal mb-0">$799</p>
                    </div>
                  </div>
                  <div class="col-md-2 d-flex justify-content-center">
                    <div>
                      <p class="small text-muted mb-4 pb-2">Total</p>
                      <p class="lead fw-normal mb-0">$799</p>
                    </div>
                  </div>
                </div>
    
              </div>
            </div>
    
            <div class="card mb-5">
              <div class="card-body p-4">
    
                <div class="float-end">
                  <p class="mb-0 me-5 d-flex align-items-center">
                    <span class="small text-muted me-2">Order total:</span> <span class="lead fw-normal">$799</span>
                  </p>
                </div>
    
              </div>
            </div>
    
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-light btn-lg me-2">Continue shopping</button>
              <button type="button" class="btn btn-primary btn-lg">Add to cart</button>
            </div>
    
          </div>
        </div>
      </div>
    </section>
  </div>
</div>



{% endblock %}