{% load thumbnail %}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
       
        <div class="caption">
            <h2>{{prod}}</h2>
            <br>
            
             <a href="{{ product.get_absolute_url }}">
         <img src="{{ prod.image|thumbnail_url:'prod_image' }}" alt="" />
        </a>
        <br><br>
            <h6>{{prod.description|linebreaks}}</h6>
            <p><a href="{% url 'product' prod.slug %}" class="btn btn-default" role="button">Detalhes</a>
                <a href="{% url 'carrinho' prod.slug %}" class="btn btn-success cart" role="button" onclick = "alerta()">Adcionar</a>
            </p>
            {% comment %} {% if messages %}
            {%for message in messages %}
            <div>
                {{message}}
            </div>
            {%endfor%}
            {% endif %} {% endcomment %}
        </div>
    </div>

</div>